In [37]:
import yfinance as yf
import pandas as pd
import numpy as np
import talib as ta
import matplotlib.pyplot as plt 
import seaborn

In [38]:
ddata = pd.read_csv('RELIANCE.csv')

In [39]:
data

,Date,Open,High,Low,Close,Volume
0,1996-01-01,10.471227,10.527414,10.402270,10.509537,48051995
1,1996-01-02,10.483998,10.535077,10.351192,10.427811,77875009
2,1996-01-03,10.598926,11.081624,10.483998,10.506984,96602936
3,1996-01-04,10.407380,10.440582,10.269466,10.409934,100099436
4,1996-01-05,10.369069,10.369069,10.249032,10.338421,76935930
...,...,...,...,...,...,...
6490,2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975
6491,2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422
6492,2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744
6493,2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708
6494,2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558

In [40]:
data.set_index('Date', inplace=True)

In [41]:
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [42]:
data['5EMA'] = pd.Series.ewm(data['Close'], span=5).mean()

In [43]:
data['26EMA'] = pd.Series.ewm(data['Close'], span=26).mean()

In [44]:
data.tail(5)

,Open,High,Low,Close,Volume,5EMA,26EMA
Date,,,,,,,
2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975,2530.292676,2557.171997
2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422,2538.378467,2556.977778
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744,2556.619011,2559.653506
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708,2563.679357,2560.997694
2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558,2554.919539,2559.249709

In [45]:
ta.RSI(data['Close'].values, timeperiod=14)

array([        nan,         nan,         nan, ..., 54.90569371,
       52.65595693, 47.1609111 ])

In [46]:
data['rsi'] = ta.RSI(data['Close'].values, timeperiod=14)

In [47]:
ta.MACD(data['Close'].values, fastperiod=12, slowperiod=26, signalperiod=9)[1]

array([        nan,         nan,         nan, ..., 12.6764748 ,
       10.6469712 ,  8.56906528])

In [48]:
data['macd'], data['macdSignal'], data['macdHist'] = ta.MACD(data.Close.values, fastperiod=12, slowperiod=26, signalperiod=9)

In [49]:
data.tail(5)

,Open,High,Low,Close,Volume,5EMA,26EMA,rsi,macd,macdSignal,macdHist
Date,,,,,,,,,,,
2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975,2530.292676,2557.171997,49.266235,-1.992511,19.881405,-21.873916
2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422,2538.378467,2556.977778,49.897373,-1.895129,15.526098,-17.421227
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744,2556.619011,2559.653506,54.905694,1.277982,12.676475,-11.398493
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708,2563.679357,2560.997694,52.655957,2.528957,10.646971,-8.118014
2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558,2554.919539,2559.249709,47.160911,0.257442,8.569065,-8.311624

In [50]:
data['macd_crossover'] = np.where((data.macd > data.macdSignal), 1, 0)

In [51]:
data.tail(5)

,Open,High,Low,Close,Volume,5EMA,26EMA,rsi,macd,macdSignal,macdHist,macd_crossover
Date,,,,,,,,,,,,
2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975,2530.292676,2557.171997,49.266235,-1.992511,19.881405,-21.873916,0
2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422,2538.378467,2556.977778,49.897373,-1.895129,15.526098,-17.421227,0
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744,2556.619011,2559.653506,54.905694,1.277982,12.676475,-11.398493,0
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708,2563.679357,2560.997694,52.655957,2.528957,10.646971,-8.118014,0
2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558,2554.919539,2559.249709,47.160911,0.257442,8.569065,-8.311624,0

In [52]:
data.macd_crossover.sort_values('Date',ascending=False)

ValueError: No axis named Date for object type Series

In [53]:
data['ema_crossover'] = np.where(((data['5EMA'].shift(1) <= data['26EMA'].shift(1)) & (data['5EMA'] > data['26EMA'] )), 1, 0)

In [54]:
data['rsi_buy'] = np.where(data.rsi > 60, 1, 0)

In [55]:
data['macd_crossover'] & data['rsi_buy']

Date
1996-01-01    0
1996-01-02    0
1996-01-03    0
1996-01-04    0
1996-01-05    0
             ..
2021-11-10    0
2021-11-11    0
2021-11-12    0
2021-11-15    0
2021-11-16    0
Length: 6495, dtype: int32

In [56]:
np.where(data.macd_crossover & data.rsi_buy, 1, 0)

array([0, 0, 0, ..., 0, 0, 0])

In [57]:
data['signal_buy'] = np.where(data.ema_crossover & data.macd_crossover & data.rsi_buy, 1, 0)

In [58]:
data.signal_buy.sort_values(ascending=False)

Date
1999-02-19    1
2012-07-31    1
1999-08-23    1
2017-06-15    1
2000-05-29    1
             ..
2013-01-28    0
2013-01-29    0
2013-01-30    0
2013-01-31    0
1996-01-01    0
Name: signal_buy, Length: 6495, dtype: int32

In [59]:
data.tail(5)

,Open,High,Low,Close,Volume,5EMA,26EMA,rsi,macd,macdSignal,macdHist,macd_crossover,ema_crossover,rsi_buy,signal_buy
Date,,,,,,,,,,,,,,,
2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975,2530.292676,2557.171997,49.266235,-1.992511,19.881405,-21.873916,0,0,0,0
2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422,2538.378467,2556.977778,49.897373,-1.895129,15.526098,-17.421227,0,0,0,0
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744,2556.619011,2559.653506,54.905694,1.277982,12.676475,-11.398493,0,0,0,0
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708,2563.679357,2560.997694,52.655957,2.528957,10.646971,-8.118014,0,1,0,0
2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558,2554.919539,2559.249709,47.160911,0.257442,8.569065,-8.311624,0,0,0,0

In [60]:
data.signal_buy.sort_values(ascending=False)

Date
1999-02-19    1
2012-07-31    1
1999-08-23    1
2017-06-15    1
2000-05-29    1
             ..
2013-01-28    0
2013-01-29    0
2013-01-30    0
2013-01-31    0
1996-01-01    0
Name: signal_buy, Length: 6495, dtype: int32

In [61]:
data['Volume Buy'] = np.where(data.Volume > data.Volume.ewm(span=5).mean(), 1, 0)

In [62]:
data['Volume Buy']

Date
1996-01-01    0
1996-01-02    1
1996-01-03    1
1996-01-04    1
1996-01-05    0
             ..
2021-11-10    0
2021-11-11    0
2021-11-12    0
2021-11-15    0
2021-11-16    0
Name: Volume Buy, Length: 6495, dtype: int32

In [63]:
data

,Open,High,Low,Close,Volume,5EMA,26EMA,rsi,macd,macdSignal,macdHist,macd_crossover,ema_crossover,rsi_buy,signal_buy,Volume Buy
Date,,,,,,,,,,,,,,,,
1996-01-01,10.471227,10.527414,10.402270,10.509537,48051995,10.509537,10.509537,NaN,NaN,NaN,NaN,0,0,0,0,0
1996-01-02,10.483998,10.535077,10.351192,10.427811,77875009,10.460501,10.467102,NaN,NaN,NaN,NaN,0,0,0,0,1
1996-01-03,10.598926,11.081624,10.483998,10.506984,96602936,10.482519,10.481431,NaN,NaN,NaN,NaN,0,1,0,0,1
1996-01-04,10.407380,10.440582,10.269466,10.409934,100099436,10.452368,10.461444,NaN,NaN,NaN,NaN,0,0,0,0,1
1996-01-05,10.369069,10.369069,10.249032,10.338421,76935930,10.408626,10.432914,NaN,NaN,NaN,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975,2530.292676,2557.171997,49.266235,-1.992511,19.881405,-21.873916,0,0,0,0,0
2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422,2538.378467,2556.977778,49.897373,-1.895129,15.526098,-17.421227,0,0,0,0,0
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744,2556.619011,2559.653506,54.905694,1.277982,12.676475,-11.398493,0,0,0,0,0
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708,2563.679357,2560.997694,52.655957,2.528957,10.646971,-8.118014,0,1,0,0,0
2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558,2554.919539,2559.249709,47.160911,0.257442,8.569065,-8.311624,0,0,0,0,0

In [64]:
data.tail(10)

,Open,High,Low,Close,Volume,5EMA,26EMA,rsi,macd,macdSignal,macdHist,macd_crossover,ema_crossover,rsi_buy,signal_buy,Volume Buy
Date,,,,,,,,,,,,,,,,
2021-11-01,2536.250000,2556.000000,2494.100098,2537.800049,7144532,2576.813421,2577.557497,45.420985,28.327521,55.008863,-26.681342,0,0,0,0,1
2021-11-02,2545.000000,2548.000000,2495.250000,2500.800049,4877652,2551.475630,2571.871760,41.533617,17.846340,47.576358,-29.730019,0,0,0,0,0
2021-11-03,2506.050049,2520.000000,2461.000000,2483.600098,5533120,2528.850453,2565.333119,39.827186,8.059135,39.672914,-31.613779,0,0,0,0,0
2021-11-08,2519.399902,2520.000000,2456.399902,2501.949951,9385607,2519.883619,2560.638069,42.539551,1.763061,32.090943,-30.327882,0,0,0,0,1
2021-11-09,2505.000000,2528.899902,2487.050049,2521.699951,7237470,2520.489063,2557.753764,45.392659,-1.614354,25.349884,-26.964238,0,0,0,0,1
2021-11-10,2516.699951,2558.000000,2503.649902,2549.899902,4731975,2530.292676,2557.171997,49.266235,-1.992511,19.881405,-21.873916,0,0,0,0,0
2021-11-11,2540.050049,2570.500000,2535.550049,2554.550049,4948422,2538.378467,2556.977778,49.897373,-1.895129,15.526098,-17.421227,0,0,0,0,0
2021-11-12,2562.899902,2598.750000,2557.000000,2593.100098,4020744,2556.619011,2559.653506,54.905694,1.277982,12.676475,-11.398493,0,0,0,0,0
2021-11-15,2600.000000,2602.199951,2570.000000,2577.800049,2216708,2563.679357,2560.997694,52.655957,2.528957,10.646971,-8.118014,0,1,0,0,0
2021-11-16,2572.050049,2575.000000,2522.250000,2537.399902,2007558,2554.919539,2559.249709,47.160911,0.257442,8.569065,-8.311624,0,0,0,0,0

In [ ]:
s